.tab__section{
    .container {
        width: 800px;
        margin: 30px auto;
        ul.tabinator {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                background: none;
                color: #222;
                display: inline-block;
                padding: 10px 15px;
                cursor: pointer;
                &.current {
                    background: #ededed;
                    color: #222;
                }
            }
        }
        .source {
            .tab__content {
                display: none;
                background: #ededed;
                padding: 15px;
                &.current {
                    display: inherit;
                }
            }
        }
    }
}